<div class="container">
  <div class="row" id="white-box">
    <div class="col-sm-5">
      <div class="panel panel-white post panel-shadow">
        <div class="post-heading">
          <div class="pull-left meta">
            <div class="close"> 
              <span aria-hidden="true">
                <%=
                  link_to(
                    raw("&times;"),
                    book_comment_path(@book, comment),
                    method: :delete,
                    data: {confirm: 'Are you sure?,'},
                  ) 
                %>
              </span>
            </div>
            <div class="title h5">
              <%= comment.name %>
              made a post.
            </div>
            <h6 class="text-muted time">
              <%= time_ago_in_words(comment.created_at)%>
            </h6>
          </div>
        </div> 
        <div class="post-description"> 
          <p><%= comment.text %></p>
        </div>
      </div>
    </div>
  </div>
</div>
