<div class="comment">
  <p>
    <%= comment.name %>
  </p>
  <p>
    <%= comment.text %>
  </p>
  <p>
    <%= time_ago_in_words(comment.created_at) %>
  </p> 
  <p>
  	<%= link_to(
  		'Delete',
  		book_comment_path(@book, comment),
  		method: :delete,
  		data: {confirm: 'Are you sure?'}
  		)
  	%>
  </p>
</div>