<%= form_for([@book, @book.comments.build], remote: true) do |comm| %>
  <div class = "row">
    <div class = "col-sm-5">
<!--      
      <p>
        <%= comm.text_field :name , class: "form-control", placeholder: "Name"%>
      </p>
-->      
      <p>
        <%=
          comm.text_field(
            :text,
            class: "form-control",
            id: "comment_input",
            placeholder: "Enter your message"
          )
        %>
      </p>
    </div>
  </div>
<% end %>


