<%= form_for([@book, @book.comments.build]) do |comm| %>
  <p>
    <%= comm.text_field :name , class: "form-control", placeholder: "Name"%>
  <p>
    <%= comm.text_area :text , class: "form-control", placeholder: "Comment" %>
  </p>
  <p>
    <%= comm.submit class: "btn btn-primary pull-right" %>
  </p>
<% end %>