<h1>Editing author</h1>
<<<<<<< Updated upstream
 <%= render 'form' %>
<%= link_to 'Back', authors_path %>
=======
  <%= render 'form' %>
  <%= link_to 'Back', authors_path %>
>>>>>>> Stashed changes
