<body class="authors" ></body>
<% link_to 'New author',  new_author_path(@author) %>
<div class="container">
  <h1 class="t1">Listing authors</h1>
  <div class="row text-center text-lg-left">
    <% @authors.each do |author| %>
      <div class="col-md-3">
        <div class="photo photo-type-line">
            <%= link_to(image_tag("http://t3.gstatic.com/images?q=tbn:ANd9GcQZeQAugEeobe5rlhfPm9PcR0K_1L86yWuL2seqOWquDsBXjFBv", 
              alt: "book", title: "book", class: "img-fluid img-thumbnail"), author_path(author), class: "d-block") %>
          <p><%=link_to author.name, author_path(author) %></p>
        </div>
      </div>  
    <% end %>
</div>    
</div>
  <div class="paginate">
    <%= paginate @authors %>
  </div>
