<body class = "authors" ></body>
<% link_to 'New author',  new_author_path(@author) %>
<div class = "container">
  <h1 class = "t1">
    Listing authors
  </h1>
  <div class = "row text-center text-lg-left">
    <% @authors.each do |author| %>
      <div class = "col-md-3">
        <div class = "photo photo-type-line">
          <% if author.image.attached? %>
            <%=
              link_to(
                image_tag(
                  author.image,
                  alt: "book",
                  title: "book",
                  class: "img-fluid img-thumbnail"
                ),
                author_path(author),
                class: "d-block"
              )
            %>
          <% else %>
            <p>
              <%= 
                link_to(
                  image_tag(
                    ("https://upload.wikimedia.org/wikipedia/commons/f/fc/No_picture_available.png"),
                    alt: "no_image",
                    class: "img-fluid img-thumbnail"
                  )
                )
              %>
            </p>
          <% end %>
          <p>
            <%=link_to author.name, author_path(author) %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class = "paginate">
  <%= paginate @authors %>
</div>
