<body class = "books" ></body>
<% link_to 'New Book', new_book_path(@book) %>
<div class = "container">
  <h1 class = "t1">
    Listing books
  </h1>
  <div class = "row text-center text-lg-left">
    <% @books.each do |book| %>
      <div class = "col-md-3">
        <div class = "photo photo-type-line">
          <% if book.image.attached? %>
            <%=
              link_to(
                image_tag(
                  book.image,
                  alt: "book",
                  title: "book",
                  class: "img-fluid img-thumbnail"
                ),
                book_path(book),
                class: "d-block"
              )
            %>
          <% else %>
            <p>
              <%=
                image_tag(
                  ("https://upload.wikimedia.org/wikipedia/commons/f/fc/No_picture_available.png"),
                  alt: "no_image",
                  class: "img-fluid img-thumbnail"
                )
              %>
            </p>
          <% end %>
          <p>
            <%=link_to book.title, book_path(book) %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class = "paginate">
  <%= paginate @books %>
</div>
