@import "bootstrap";
@import "/\*";
@import "selectize";
@import "selectize.bootstrap3";
@font-face {
  font-family: 'Sunflower', sans-serif;
  font-family: 'Dosis', sans-serif;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Poor Story', cursive;
  font-family: 'Bowlby One SC', cursive;
  font-family: 'Monda', sans-serif;
  font-family: 'Julius Sans One', sans-serif;
  font-family: 'Carter One', cursive;
   }
body{
  font-family: Bowlby One SC;
  background: linear-gradient(#FFFFFF,#bdc3c7, #2c3e50,#000000) no-repeat center center fixed;;
  background-size: cover;
}
   