// Place all the styles related to the Authors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.authors{
  font-family: Bowlby One SC;
  background: linear-gradient(#FFFFFF,#bdc3c7, #2c3e50,#000000); 
}
a{
  color:white;
  text-decoration: none;
}
a:hover{
  color:white;
  text-decoration: none;
}
.t1{
  position: relative;
  margin-top: 3vw;  
  text-align: center;
  color: #212529;
}
.img-fluid{
  height: 350px;
  width:400px;
}
.paginate{
  margin-left: 30%;
}
.pagination a, .pagination span.current, .pagination span.gap {
    padding: 0 14px;
    line-height: 30px;
    text-decoration: none;
    border: 1px solid white;
}
.col-sm{
  margin-top:3vw;
}
.col-sm-3{
  margin-top:3vw;
}
.col-sm-12{
  position:absolute;
  opacity:0.7;
  margin-left:280px;
  margin-top:3vw;
  background-color:white;
  width:540px;
  height:350px;
  border-radius:3px;
}
